@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@font-face{ font-family: "product-sans"; src: url("../webfonts/Product\ Sans\ Regular.ttf");}
@font-face{font-family: "product-sans-bold"; src: url("../webfonts/Product\ Sans\ Bold.ttf");}

.font-p-sans{font-family: 'product-sans';}
.font-p-sans-b{font-family: 'product-sans-bold';}

h1, h2, h3, h4, h5, h6 {
  font-family: 'product-sans-bold';
}

.navbar-brand {
  font-family: 'product-sans-bold';
}

legend {
  font-family: 'Lobster', cursive;
}

.primary-txt-fill{
  color: #4a00e0; 
}

.bg-primary{
  background-color: #4a00e0 !important;
}

.accent-txt-fill{
  color: #7F00FF;
}

.dark-txt-fill{
  color: #303030 !important;
}

.gray-txt.fill{
  color: #808080;
}

body {
  font-family: "Cabin", Arial, sans-serif;
  background-color: #ffffff;
}

.container-bg{
  background-color: #f5f5f5;
}

.nav{
  background-color: #ffffff;
}


/*Custom Width*/
.cw-18{
  width: 18rem;
}

.content-background-gradient{
  background-image: url("../images/Home_Background.jpg");
  padding: 3rem;
  background-repeat: no-repeat;
  margin: 0px;
  overflow: hidden;
}

.pb-15{
  padding-top: 2.5em !important;
  padding-bottom: 2.5em !important;
}

.mb-6{
  margin-bottom: 5rem;
}

.p-6{
  padding: 5rem;
}

.custom-container{
  padding-right: 3rem; padding-left: 3rem;
  width:100%; margin-right:auto; margin-left:auto
}

.featurette-divider{
  margin: 3rem;
}

.plex-gradient{
  background: linear-gradient(to right, #7F00FF, #E100FF, #E100FF, #7F00FF);
  background-size: 400%;
  color: #f5f5f5;
}
/* -------------------- Carousel Styling -------------------- */
.carousel-inner {
  border-radius: 10px;
}

.home-img{width: 100%;}

@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}