extends layout

block content
    .container-bg.p-6.text-center
        .container
            .row
                .col-12 
                    h1.dark-txt-fill.m-4 -- &nbsp; Our Mission &nbsp; --
            .row 
                .col-12
                    p.gray-txt.fill At Plex, we believe in making entertainment accessible for everyone!
            .row
                .col-12 
                    h1.dark-txt-fill.mt-5.m-4= title  
            .row
                .col-12
                    p.gray-txt.fill= para