extends layout

block content
  //- Header Banner BG
  .content-background-gradient
    .container
      //- Image Carousel
      #homepageCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators 
          li.active(data-target='#homepageCarousel' data-slide-to='0')
          li(data-target='#homepageCarousel' data-slide-to='1')
          li(data-target='#homepageCarousel' data-slide-to='2')
          li(data-target='#homepageCarousel' data-slide-to='3')
        .carousel-inner
          .carousel-item.active 
            img.d-block.mx-auto.home-img(src='/images/banner_1.jpg' alt='First Slide')
          .carousel-item 
            img.d-block.mx-auto.home-img(src='/images/banner_2.jpg' alt='Second Slide')
          .carousel-item 
            img.d-block.mx-auto.home-img(src='/images/banner_3.jpg' alt='Third Slide')
          .carousel-item 
            img.d-block.mx-auto.home-img(src='/images/banner_4.jpg' alt='Fourth Slide')
        a.carousel-control-prev(href='#homepageCarousel' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#homepageCarousel' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
  .container
    hr.featurette-divider
    .row.featurette
      .col-md-12
        h1.d-block.text-center.mb-6 Features
      .col-md-7
        h2.featurette-heading First Feature Heading 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus, ipsum volutpat congue sollicitudin, enim orci lobortis neque, et lobortis elit velit at est. Aliquam accumsan eget mauris et bibendum. Nunc in malesuada urna.
      .col-md-5 
        svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='400' height='400' aria-label='Placeholder: 400x400')
          rect(width='100%' height='100%' fill='#eee')
    hr.featurette-divider
    .row.featurette
      .col-md-7.order-md-2
        h2.featurette-heading Second Feature Heading 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus, ipsum volutpat congue sollicitudin, enim orci lobortis neque, et lobortis elit velit at est. Aliquam accumsan eget mauris et bibendum. Nunc in malesuada urna.
      .col-md-5.order-md-1 
        svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='400' height='400' aria-label='Placeholder: 400x400')
          rect(width='100%' height='100%' fill='#eee')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading Third Feature Heading 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus, ipsum volutpat congue sollicitudin, enim orci lobortis neque, et lobortis elit velit at est. Aliquam accumsan eget mauris et bibendum. Nunc in malesuada urna.
      .col-md-5
        svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='400' height='400' aria-label='Placeholder: 400x400')
          rect(width='100%' height='100%' fill='#eee')