extends layout 

block content
  .container-bg 
    .container 
      .row
        h1.text-center.mx-auto.p-6.dark-txt-fill Movies
  .row.row-cols-1.row-cols-md-3.mb-5
    each movie in movies 
      .col.col-md-2.my-5.mx-auto
        .card.mb-4.shadow-sm.cw-18
          .card-block.card-body 
            h5.card-title= movie.movie_title
            h6.card-subtitle.mb-2.text-muted= movie.genre
          ul.list-group.list-group-flush 
            li.list-group-item= movie.release_date 
            li.list-group-item= movie.duration
          .card-body 
            a.btn.btn-primary(href="#") Watch