extends layout 

block content
  .container-bg.mb-5
    .custom-container 
      .row
        h1.text-center.mx-auto.p-6.dark-txt-fill Movies
  .row.my-5
    each movie in movies 
      .col-lg-4
        .card.shadow-sm.m-3
          .card-body
            h5.card-title= movie.movie_title 
            h6.card-subtitle.text-muted= movie.genre 
          ul.list-group.list-group-flush 
            li.list-group-item= movie.release_year
            li.list-group-item= movie.duration
          .card-body 
            a.btn.bg-primary.text-white.px-4(href="#") Watch